
<%= link_to 'Home', root_path %>

<h1>More About Citizen Science</h1>

		<aside id="main-sidebar">
			<div id="author-info">
					<p>The Citizen Science Blog is a repository of projects and organizations currently involved in Citizen Science created by 
				Sandi Cook.  Be sure to check out Sandi's developer website - Magiquark - 
				<a href="http://www.magiquark.com">here</a>.
				</p>
		<%= image_tag 'img1.jpg' %>
		
			</div><!-- end author-info -->
		</aside><!-- end main-sidebar -->
		
		<footer id="main-footer">
			<div class="copyright-info">
				<p>&copy;2016 Sandi Cook</p>
			</div><!-- end copyright-info -->
		</footer><!-- end main-footer -->
	