<!DOCTYPE html>
<html>
	<head>
		<title>Welcome to Citizen Science Alpha Blog</title>
	</head>
	<body>
<%= link_to 'About', about_path %>

	<header id="main-header">
			<h1>Welcome to the Citizen Science Blog!</h1>
			<p>Looking to become involved in citizen science projects?  You've come to the right place!</p>
		</header><!-- end main-header -->
		
		
		<article class="blog-post">
			<section class="post-head">
				<h2>Most Recent Blog Post</h2>
				<p>This article was written on <time datetime="2016-06-28 15:37">June 28th at 3:37pm</time>.</p>
			</section><!-- end post-head -->
			
			<section class="post-body">
				<p>This website will include links to citizen science projects that you can become involved with.  It also lists
				organizations sponsoring citizen science projects worldwide. </p>
			</section><!-- end post-body -->
				
			<section class="post-foot">
				<h3>Want to know more about citizen science?  Visit our About page.</h3>

			</section><!-- end post-foot -->
		</article><!-- end blog-post -->
		
			<footer id="main-footer">
			<div class="copyright-info">
				<p>&copy;2016 Sandi Cook</p>
			</div><!-- end copyright-info -->
		</footer><!-- end main-footer -->
	
	</body>
</html>

